*,
*::before
*::after{
    margin: 2;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    color:black;
    margin: 0;
}

header {
    background-color: brown;
    position: relative;
    padding: 2rem;
    font-size: 40px;
}

nav a {
    float: right;
    display: block;
    color: burlywood;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 40px;
}

nav a:hover{
    background-color: burlywood;
    color: brown;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

nav div {
    float: right;
    display: block;
    color: burlywood;
    text-align: center;
    padding: -1rem;
    text-decoration: none;
    font-size: 40px;
}
nav ul {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    overflow: hidden;
    
}

main {
    margin: 1rem auto;
    width: 95%;
}

main section {
    margin-top: 1rem;
    padding: 2rem;
}

.home img {
    float: left;
    margin-right: 1rem;
    width: 800px;
}

@media screen and (max-width: 8000px) {
    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
img {
    float: left;
    margin-right: 3rem;
    width: 250px;
}

footer {
    text-align: center;
    background-color: brown;
    padding: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
